* {
  color: rgb(51, 51, 51);
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 42px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 12px;
}

main {
  background-color: white;
  border-left: 12px solid rgb(255, 64, 0);
  border-right: 12px solid rgb(255, 64, 0);
  margin: 0 auto;
  min-height: 100vh;
  padding: 24px 0 48px;
  width: 1024px;
}
